body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300
}

.h1-responsive, .section-heading h1 {
    font-size: 150%
}

.h2-responsive, .section-blog-fw h2 {
    font-size: 145%
}

.h3-responsive {
    font-size: 135%
}

.h4-responsive {
    font-size: 135%
}

.h5-responsive {
    font-size: 135%
}

@media (min-width:576px) {
    .h1-responsive, .section-heading h1 {
        font-size: 170%
    }

    .h2-responsive, .section-blog-fw h2 {
        font-size: 140%
    }

    .h3-responsive {
        font-size: 125%
    }

    .h4-responsive {
        font-size: 125%
    }

    .h5-responsive {
        font-size: 125%
    }
}

@media (min-width:768px) {
    .h1-responsive, .section-heading h1 {
        font-size: 200%
    }

    .h2-responsive, .section-blog-fw h2 {
        font-size: 170%
    }

    .h3-responsive {
        font-size: 140%
    }

    .h4-responsive {
        font-size: 125%
    }

    .h5-responsive {
        font-size: 125%
    }
}

@media (min-width:992px) {
    .h1-responsive, .section-heading h1 {
        font-size: 200%
    }

    .h2-responsive, .section-blog-fw h2 {
        font-size: 170%
    }

    .h3-responsive {
        font-size: 140%
    }

    .h4-responsive {
        font-size: 125%
    }

    .h5-responsive {
        font-size: 125%
    }
}

@media (min-width:1200px) {
    .h1-responsive, .section-heading h1 {
        font-size: 250%
    }

    .h2-responsive, .section-blog-fw h2 {
        font-size: 200%
    }

    .h3-responsive {
        font-size: 170%
    }

    .h4-responsive {
        font-size: 140%
    }

    .h5-responsive {
        font-size: 125%
    }
}